.navbar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .up-navbar{
        position: relative;
        display: flex;
        //gap: auto;
        justify-content: space-between;
        
        justify-items: center;
        align-items: center;
        width: 100%;
    }
}
