<!-- <mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>ng bakery</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>

<h1 class="title">Nuestros productos</h1>

<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Producto Shiba</mat-card-title>
    <mat-card-subtitle>Precio: $100</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button>Añadir al carrito</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Producto Shiba</mat-card-title>
    <mat-card-title>Descripcion producto</mat-card-title>
    <mat-card-subtitle>Precio: $100</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button>Añadir al carrito</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Producto Shiba</mat-card-title>
    <mat-card-subtitle>Precio: $100</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button>Añadir al carrito</button>
  </mat-card-actions>
</mat-card> -->

<div class="body-content">
  <div class="content">
    <div class="item-content"> <span class="material-symbols-outlined">
      egg_alt
      </span>Desayunos </div>
    <div class="item-content"> <span class="material-symbols-outlined">
      restaurant
      </span>Almuerzos  </div>
    <div class="item-content"> <span class="material-symbols-outlined">
      bakery_dining
      </span>Panaderia </div>
    <div class="item-content"> <span class="material-symbols-outlined">
      water_loss
      </span>Bebidas </div>
  </div>
</div>


