<div class="body-content">

    <div class="wrap-toggle" #wtf>
        <input type="checkbox" id="toggle" class="change-idioma" #toggle (change)="changeIdioma()">
        <label for="toggle" class="switch"></label>
    </div>
    <!-- <div class="product">
        <div *ngFor="let product of products" class="item-product">
            <span class="material-symbols-outlined"></span> {{ product.name }}
        </div>
    </div> -->
    <div class="content-product">
        <div class="name-product">
            caldo de costillar
        </div>
        <div class="content-product-values">
            <div class="content-img">
                
            </div>
            <div class="content-description">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius quia, rerum laboriosam
            </div>
        </div>
    </div>
    <div class="content-product">
        <div class="name-product">
            caldo de costilla
        </div>
        <div class="content-product-values">
            <div class="content-img">
                
            </div>
            <div class="content-description">
                melo caramela
            </div>
        </div>
    </div>
    <div class="content-product">
        <div class="name-product">
            caldo de costilla
        </div>
        <div class="content-product-values">
            <div class="content-img">
                melo
            </div>
            <div class="content-description">
                melo caramela
            </div>
        </div>
    </div>
    <div class="content-product">
        <div class="name-product">
            caldo de costilla
        </div>
        <div class="content-product-values">
            <div class="content-img">
                melo
            </div>
            <div class="content-description">
                melo caramela
            </div>
        </div>
    </div>
    <div class="content-product">
        <div class="name-product">
            caldo de costilla
        </div>
        <div class="content-product-values">
            <div class="content-img">
                melo
            </div>
            <div class="content-description">
                melo caramela
            </div>
        </div>
    </div>
    <div class="content-product">
        <div class="name-product">
            caldo de costilla
        </div>
        <div class="content-product-values">
            <div class="content-img">
                melo
            </div>
            <div class="content-description">
                melo caramela
            </div>
        </div>
    </div>
    <div class="content-product">
        <div class="name-product">
            caldo de costilla
        </div>
        <div class="content-product-values">
            <div class="content-img">
                melo
            </div>
            <div class="content-description">
                melo caramela
            </div>
        </div>
    </div>
</div>
